<h1>Orders#list</h1>
<p>
Count of orders: <%= @orders.count %>
</p>
<p>
Grand Total: <%= number_to_currency @orders.map{|order| order.total_price }.sum %>
</p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Total Price </th>
      <th>Order Date</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.name %></td>
        <td><%= link_to order.item.title, "/items/#{order.item.id}" %></td>
        <td><%= order.quantity %></td>
        <td><%= number_to_currency order.total_price %></td>
        <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
